1. 아스키 코드

In [ ]:
a = input()
asc = ord("{0}".format(a))    #ord 는 문자열을 아스키코드로 변환해주는 함수이다.
print(asc)

2. 숫자의 합



*   첫번째 줄에는 두번째 줄에 입력할 숫자의 개수
*   두번째 줄에는 첫번째 줄에 입력한 숫자의 개수만큼
*   출력값 = 두번째 줄 숫자를 각각 더한 값.

In [ ]:
N = int(input())  # 첫번째 줄
num = int(input()) # 두번째 줄

print(sum(map(int,str(num)))) # map 함수를 이용하여 각 자리수의 함을 구한다.

3. 알파벳 찾기
* 각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.

* 만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

In [ ]:
a = input()

index = []
for x in range(97,123):         # 아스키 코드를 이용하여 
  x = str(chr(x))
  if x in a :
    index += [a.index(x)]
  else:
    index += [-1]

for y in index:
  print( y ,end = " ")

apple
0 -1 -1 -1 4 -1 -1 -1 -1 -1 -1 3 -1 -1 -1 1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

4. 문자열 반복

In [ ]:
T = int(input())

for _ in range(T):
  R,S = input().split()
  for s in S:
    print(s * int(R),end = "")  # end 와 sep의 차이를 구별하자.
  print()   # print()를 해주지않으면 입력값이 전 출력값 옆에 입력된다.

5. 단어 공부

In [ ]:
word = input() # 단어 입력
new_word = word.upper() # 대문자로 변경

alpha = list(set(new_word)) # 중복 제거

cnt = [] # 개수 셀 리스트 생성

for y in alpha:
  cnt += [new_word.count(y)]

if cnt.count(max(cnt)) > 1 :  # count 숫자 최대값이 중복되면
    print('?')
else: # 최대값이 1개만 존재하면 그 대문자 출력
  index = cnt.index(max(cnt))
  print(alpha[index])

6. 단어의 개수

In [ ]:
sentence = input().split()

print(len(sentence))

7. 상수

In [ ]:
A,B = input().split()

A = int(A[2]+A[1]+A[0])
B = int(B[2]+B[1]+B[0])

if A > B: print(A)
else: print(B)

8. 다이얼 ( 구글링 함 )

In [ ]:
dial = ["ABC","DEF","GHI","JKL","MNO","PQRS","TUV","WXYZ"]

W = list(input())

cnt = 0
for w in W:
  for d in dial:
    if w in d:
      cnt += dial.index(d) + 3

print(cnt)

9.크로아티아 알파벳

In [ ]:
a = input()

croatia = ["c=","c-","dz=","d-","lj","nj","s=","z="]
cnt = 0

for x in croatia:
  if x in a:
    a = a.replace(x,' ')
    
cnt += len(a)
print(cnt)

nljj
3

10. 그룹 단어 체커

In [ ]:
N = int(input())

group_word = 0
for _ in range(N):
  word = input()
  error = 0
  for x in range(len(word)-1):
    if word[x] != word[x+1]:
      new_word = word[x+1:]
      if new_word.count(word[x]) > 0:
        error += 1
  
  if error == 0:
    group_word += 1
print(group_word)