1. Hello World! 를 출력하시오

In [ ]:
print("Hello World!")

2. A와 B를 입력받아서 A+B 출력하기
3. A와 B를 입력받아서 A-B 출력하기
4. A와 B를 입력받아서 A*B 출력하기
5. A와 B를 입력받아서 A/B 출력하기

In [ ]:
A,B = map(int, input().split()) # map(적용할 함수, 적용할 값)
print(A+B)
print(A-B)
print(A*B)
print(A/B)

6. 사칙연산

---


첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [ ]:
A,B = map(int,input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B) # 몫
print(A%B)  # 나머지

7. 문자열입력받아서 문자열끼리의 덧셈연산

In [ ]:
ID = input()
print(ID + "??!")

8. 불기연도값을 입력받아 서기연도 알아내기

In [ ]:
Year = int(input()) # 불기 연도 입력
print(Year - 543) # 543 은 불기연도와 서기연도의 차이이다.

9. 킹,퀸,룩,비숍,나이트,폰

In [ ]:
K,Q,L,B,N,P = map(int,input().split())
print( 1-K , 1-Q , 2-L , 2-B , 2-N , 8-P )

10. 나머지의 분배법칙이 성립할까

In [ ]:
A,B,C = map(int,input().split())

print((A+B)%C)
print(((A%C)+(B%C))%C)
if((A+B)%C == ((A%C)+(B%C))%C):
  print(True)

print("-----------------")

print((A*B)%C)
print(((A%C)*(B%C))%C)
if((A*B)%C == ((A%C) * (B%C))%C):
  print(True)

11. 세 자리수 끼리의 곱셈

In [ ]:
A = int(input())
B = input()
print(A*int(B[2]))
print(A*int(B[1]))
print(A*int(B[0]))
print(A*int(B))

12. 고양이 출력하기
 
*   문자열에서 ' 를 출력할 수 있는가?
*   문자열에서 \(역슬래시)를 출력할 수 있는가?

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

13. 개 출력하기
 * 특수문자 출력시에는 앞에 \( 역슬래시 ) 를 추가해준다.

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

14. 새싹 출력하기

In [ ]:
print("         ,r'\"7")
print("r`-_   ,'  ,/")
print(" \\. \". L_r'")
print("   `~\/")
print("      |")
print("      |")