1. 손익분기점
* C > A + B
* C = 가격 / A = 고정 비용 / B = 가변 비용

In [ ]:
A,B,C = map(int,input().split())

if B >= C:
  print(-1)
else:
  print(int(A/(C-B)+1))

1000 70 170
11

2. 벌집

In [ ]:
N = int(input())

a = 0
range = 1
while range < N:
  a += 1
  range += a*6
print(a+1)

13
3

3. 분수찾기

In [ ]:
N = int(input())

a = 0
range = 0
while range < N:
  a += 1
  range += a

gap = range - N
if a % 2 == 0:
  top = a-gap
  under = gap + 1
else:
  top = gap +1
  under = a - gap
print(f'{top}/{under}')

14
2/4

4. 달팽이는 올라가고 싶다.
* 높이가 V인 나무막대를 올라간다
* 낮에는 A미터 올라가고 밤에는 B미터미끄러진다

In [ ]:
A,B,V = map(int,input().split())

C = 0
day = 0
while True:
  C += A
  day += 1
  if C >= V:
    print(day)
    break
  C -= B

In [ ]:
a,b,v = map(int,input().split())
k = (v-b)/(a-b)
print(int(k) if k == int(k) else int(k)+1)    # A if B else C : B가 True이면 A를 출력하고 False 이면 C를 출력해라

5. ACM 호텔

* T 테스트 개수
* H 층 W 방 개수 N 번째 손님

In [ ]:
T = int(input())
for _ in range(T):
  H,W,N = map(int,input().split())
  h = N//H + 1
  n = N%H 
  if N % H == 0:
    h = N//H
    n = H
  print(f'{n*100+h}')


# 처음 작성 답 : N 이 H의 배수일때 오류발생
T = int(input())
for _ in range(T):
  H,W,N = map(int,input().split())
  n = str(N%H)
  h = int(N//H) + 1 
  if h < 10:
    h = '0' + str(h)
  print(n + str(h))

6. 부녀회장이 될테야 ( 구글링 )

In [ ]:
t = int(input())

for _ in range(t):  
    floor = int(input())  # 층
    num = int(input())  # 호
    f0 = [x for x in range(1, num+1)]  # 0층 리스트
    for y in range(floor):  # 층 수 만큼 반복
        for i in range(1, num):  # 1 ~ n-1까지 (인덱스로 사용)
            f0[i] += f0[i-1]  # 층별 각 호실의 사람 수를 변경
    print(f0[-1])  # 가장 마지막 수 출력

7. 설탕 배달 ( 구글링 )
 * 3의 배수와 5의 배수 판별 후 구하기

In [31]:
sugar = int(input())
bag = 0

while sugar >= 0:
  if sugar % 5 == 0:
    bag += int(sugar // 5)
    print(bag)
    break
  
  sugar -= 3
  bag += 1
  
else:
  print(-1)

9
3

In [32]:
A,B = map(int,input().split())

print(A + B)

9223372036854775807 9223372036854775808
18446744073709551615